
:root{
    --color-header : #fff;
    --color-content : #fff;
    --color-footer : #ed6464;
    --color-text-grey : #4a4a4a;
    --font-size-default : 14px;
    --padding-beside : 150px;
    --height-header : 70px;
    --background-color-body : #d4d3d35b;
    --background-color-header : #fff;
}